.cta {
	padding-top: 70px;
	padding-bottom: 70px;
}

.cta {
	// .cta__block

	&__block {
		justify-content: space-between;
		display: flex;
		align-items: stretch;
		background-color: #58bebf;
		border-radius: 20px;
		color: #fff;
	}

	// .cta__img

	&__img {
		margin-top: 60px;
		padding-top: 25px;
		padding-right: 25px;
		background-color: white;
		border-radius: 0 20px 0 0;
	}

	// .cta__text

	&__text {
		background: url('./../img/cta/ovalbottom.svg') bottom left -186 no-repeat, 
		url('./../img/cta/ovaltop.svg') right top no-repeat;
		width: 555px;
		padding-left: 95px;
		padding-right: 40px;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;

		p {
			width: 320px;
		}
	}

	&__title {
		margin-bottom: 15px;
	}

	// .cta__buttons-row

	&__buttons-row {
		margin-top: 30px;
		display: flex;
		column-gap: 20px;
	}
}

